@import '~typeface-roboto';

header {
    padding: 1rem 0;
    height: 5rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #15616D;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rollout-nav {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #15616D;

}

.nav-btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("./img/menu.png");
    background-size: contain;
    cursor: pointer;
}

.rollout-nav a:hover {
    cursor: pointer;
}

.nav-closed {
    display: none;
}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .rollout-nav {
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .rollout-nav a {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        margin: 1rem;
    }

    .rollout-nav a:hover {
        border-bottom: 3px solid #c62828;
        cursor: pointer;
    }

    .nav-btn {
        display: none;
    }
}