@import '~typeface-roboto';

footer {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  color: white;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  line-height: 1.8rem;

}

.footer-title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

.footer-text {
  color: #ccc;
}