@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(105deg, #0F2027 0%, #203A43 59%, #2C5364 100%) fixed;
  margin: 0;
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
}