.homepage-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.homepage {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
  height: auto;
}

.homepage-heading h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  background-color: transparent;
}

.homepage-subheading p {
  font-size: 1rem;
  margin-top: 1.25rem;
  line-height: 1.5rem;
}

p.homepage-subheading {
  opacity: 0.8;
  margin-top: 2rem;
}

.homepage-image img {
  width: 70vw;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .homepage-section {
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
  }

  .homepage-heading {
    width: 50vw;
    margin: 15px 0;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
  }

  .homepage-heading h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    opacity: 0.8;
  }

  .homepage-heading p {
    font-size: 1.5rem;
    margin: 0;
    opacity: 0.5;
    line-height: 2rem;
  }

  .homepage-image {
    width: 40vw;
  }
}

pre.blinking-cursor {
  margin-top: 10rem;
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}