.author__card {
  /* margin: 20px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  max-width: 25rem;
  height: 77vmin;
  opacity: 0.8;
}

div .author__container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.author__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.author__header h1 {
  margin-bottom: 1rem;
}

p.author__text {
  margin-top: 0.5rem;
}

.author__photo {
  width: 30%;
  border-radius: 100%;
}

.author__text {
  margin-top: 1.5rem;
}

.author__socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.social__links {}

.socials__icon-github,
.socials__icon-email,
.social__icon-linkedin {
  width: 2em;

}